@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* blue: rgb(1 50 67) green: #02e079 lightBlue: rgb(29 73 88)*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-button {
  background-color:#02e079;
  color: #ffffff;
  border: none;
  height: 50px;
}

.container_child::-webkit-scrollbar{
  height: 0;
  width: 0;
}

.container_child{
  padding: 20px;
  height: 85vh;
  overflow-y: auto;
  overflow-x: auto;
}

.conatiner_body{
  background-color: #f0f2f5;
  padding: 20px;
  height: calc(100vh - 5vh);
}

.my_list_users{
/* background-color: red; */
  height: 25vh;
  padding: 10px 3px 10px 3px;
  display: flex;
  overflow-x: auto;
}

.my_list_users::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.my_list_files{
  height: 45vh;
  display: flex;
  overflow-y: auto;
  padding: 5px 3px;
}

.my_list_files::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.div_login{
  width: 100vw;
  height: 100vh;
  background-color: rgb(1 50 67);
  background-size: cover;
  background-position: center; 
}

.div_child_add{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #f0f2f5;
}

.addGroupForm{
  width: 500px;
  background-color: transparent;
  border-radius:16px;
}

.customButton{
  margin-top: 10px;
  height: 40px;
  border-radius: 12px;
}

.conatiner_register{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  gap: 10px;
  color: white;
}

.card_button{
  background-color:  rgb(1 50 67);
  margin-top: 10px;
  align-items: center;
}